<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>BaarikaappiApp</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<div class="page-header text-center">
		<div class="col-sm-6">
			<div style="position:absolute;top:0"class="well" content=>
						<strong>Logged in as:</strong>: <%= user.local.email %><br>
							<a href="/logout" class="btn btn-default btn-sm">Logout</a>
			</div>
		<h1>BaarikaappiApp</h1>
		<h2>Select your ingredients</h2>

		</div>

	</div>
		<div style="float:left;" id="contentlist"></div>
		<div style="float:right;" id="omatlist">Selected ingredients:
		<button onclick="haku()">Search</button></div>
<script>
var inglist;
var omatjuomat=document.getElementById("omatlist");
$.get("/ingredients", function myvar( ings ) {
	var ingswo = ings.slice(1, -1);
	var ingsfinal = ingswo.replace(/['"]+/g, " ");
	var iarray = ingsfinal.split(",");
	//alert(iarray[0]);
	//document.getElementById("content").innerHTML=ingsfinal;
	for(var i = 0; i < iarray.length; i++)
	{
		inglist = "<li>" + iarray[i] + "</li>";
		document.getElementById("contentlist").innerHTML += inglist;
	}
	inglist= "<ul id='uling'>" +inglist+ "</ul>";
},
 'text');
 function getEventTarget(e) {
		 e = e || window.event;
		 return e.target || e.srcElement;
 }
 var ul = document.getElementById('contentlist');
 var sendjuomat = '['
 ul.onclick = function(event) {
		 var target = getEventTarget(event);
		 omatjuomat=target.innerHTML;
		 sendjuomat+='"'+target.innerHTML+'"';
		 document.getElementById("omatlist").innerHTML+= "<li>" + omatjuomat + "</li>";
		 console.log(sendjuomat);
		 //alert(target.innerHTML);
 };
 function haku()
 {
window.location.href="/drinklist";
sessionStorage.omat=sendjuomat+']';
console.log(sessionStorage.omat);
 }
</script>
</div>
</body>
</html>
